@import "@styles/variables";

.announcement {
  margin-bottom: 90px;

  @media (min-width: $breakpoint-lg) {
    margin-bottom: 180px;
  }
}

.main {
  margin-top: 45px;

  @media (min-width: $breakpoint-lg) {
    margin-top: 0;
  }
}
