$link-color: #5c6a79;
$link-active-color: #1c2a39;

.sidebar {
  position: relative;
  padding-bottom: 40px;
  padding-left: 7px;

  &::before {
    position: absolute;
    z-index: -5;
    top: -40px;
    left: -50vw;
    width: calc(100vw + 350%);
    height: calc(100% + 40px);
    background-color: #efeef6;
    content: "";
    transform: translateX(-50%);
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  @media (min-width: 576px) {
    padding-left: 0;
  }
}

.item {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0 !important;
  }

  a {
    color: $link-color;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-decoration: none;
    transition: all 0.15s;
  }

  a:hover {
    color: lighten($link-color, 15%);
  }
}

.item.active {
  margin-bottom: 10px;

  a {
    position: relative;
    padding-left: 20px;
    color: $link-active-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }

  a:hover {
    color: lighten($link-active-color, 15%);
  }

  a::before {
    position: absolute;
    top: 6px;
    display: block;
    width: 6px;
    height: 6px;
    background-color: #756ad3;
    border-radius: 50%;
    content: "";
  }
}
