@import "@shared/constants/variables";

.sidebar {
  position: relative;
  padding-bottom: 40px;
  padding-left: 7px;

  &::before {
    position: absolute;
    z-index: -5;
    top: -40px;
    left: -50vw;
    width: calc(100vw + 350%);
    height: calc(100% + 40px);
    background-color: #efeef6;
    content: "";
    transform: translateX(-50%);
  }

  @media (min-width: $breakpoint-sm) {
    padding-left: 0;
  }
}
