$link-color: #1c2a39;

.logo a {
  color: $link-color;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    color: lighten($link-color, 15%);
  }
}
