@import "@shared/constants/variables.scss";

.paginationCol {
  @media (min-width: $breakpoint-lg) {
    margin-right: 50%;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  @media (min-width: $breakpoint-lg) {
    display: block;
    max-width: 424px;
    margin-left: auto;
  }
}
