@import "~sanitize.css";
@import "~sanitize.css/forms.css";
@import "~sanitize.css/assets.css";
@import "~sanitize.css/typography.css";
@import "./variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 8px;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 16px;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

pre {
  overflow: auto;
  margin-top: 0;
  margin-bottom: 16px;
  -ms-overflow-style: scrollbar;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.15s;

  &:hover {
    color: lighten($primary-color, 15%);
  }
}
