@import "@shared/styles/variables";

.noBooks {
  margin-top: -10px;
  margin-bottom: 40px;

  @media (min-width: $breakpoint-lg) {
    margin-left: 160px;
  }
}

.paginationCol {
  @media (min-width: $breakpoint-lg) {
    margin-right: 50%;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  @media (min-width: $breakpoint-lg) {
    display: block;
    max-width: 424px;
    margin-left: auto;
  }
}
